*{
  color:white;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

html{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

iframe{
  width: 100%;
  height: 25rem;
}

hr{
  background-color: #323232;
  height: 1px;
  border: none;
}

body{
  padding: 0px;
  background-color: #181818;
}

header{
  height: 3.8rem;
  display: flex;
  background-color: #202020;
  gap: 4rem;
  align-items: center;
  padding: 0rem 1.5rem;
  position: fixed;
  z-index: 100;
}

.icon{
  width: 0.9rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(15deg)
          brightness(106%) contrast(92%);
}

#left-header{
  display: flex;
  text-align: center;
  gap: 2rem;
}

#side-menu{
  margin-top: 0.4rem;
}

#home{
  display: flex;
  align-items: center;
}

#yt-icon{
  padding: 0rem;
  width: 2.1rem;
}

#yt-title{
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

#search-box{
  width: 39rem;
  height: 2.2rem;
  background-color: #181818;
  color: #ffffff;
  border-style: solid;
  border-color: #323232;
  border-width: 1px;
  padding: 0rem 0.7rem;
  font-size: 1rem;
  font-family: 'Roboto-condense', sans-serif;
}

#search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 2.2rem;
  background-color: #323232;
  border-style: solid;
  border-color: #323232;
  border-width: 1px;
  padding: 0rem 0.7rem;
}

#search-voice{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #181818;
  margin-left: 1rem;
}

#user-tools, #search{
  display: flex;
  gap: 0rem;
  align-items: center;
  padding: 0rem 1rem;
}

#user-tools{
  display: flex;
  gap: 2rem;
  align-items: center;
}

#apps{
  margin-top: 0.4rem;
  width: 1.2rem;
}

#settings{
  margin-top: 0.4rem;
  width: 0.3rem;
}

.blue-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-color: #3E9CFF;
  border-style: solid;
  border-radius: 0.2rem;
  border-width: 0.1rem;
  padding: 0.5rem;
  min-width: max-content;
}

#sign-text{
  font-family: 'Roboto-condense', sans-serif;
  color: #3E9CFF;
}

#sign-icon{
  width: 1.3rem;
  margin-bottom: 0.2rem;
  filter: invert(51%) sepia(96%) saturate(2198%) hue-rotate(191deg)
   brightness(103%) contrast(101%);
}

#yt-body{
  display: flex;
  padding: 0rem 5rem;
  padding-top: 2rem;
  gap: 2rem;
}

#video-section{
  display: flex;
  flex-direction: column;
  width: 60%;

}

#video-title{
  margin-top: 1.2rem;
  font-size: 0.8rem;
}

#video-data{
  display: flex;
  padding: 0rem 0rem;
  font-weight: 400;
  font-size: 95%;
  justify-content: space-between;
}

.video-views{
  margin-top: 0.5rem;
  color: gray;
}

#right-data{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: 400;
  padding-right: 0.2rem;
  font-size: 1rem;
}

#more-data{
  font-size: 2rem;
}

.rating{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.rating img{
  padding-bottom: 0.1rem;
  width: 1rem;
}

#more-data{
  padding-bottom: 1rem;
}

#video-channel{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

#left-channel{
  display: flex;
  gap: 1rem;
}

#channel-data{
  display: flex;
  flex-direction: column;
  padding-top: 1.3rem;
}

#channel-subs, #expand-desc span{
  color: gray;
  font-size: 0.9rem;
}

#profile-img{
  width: 4rem;
  height: 4rem;
}

.verified{
  margin-left: 0.1rem;
  filter: invert(64%) sepia(0%) saturate(454%) hue-rotate(148deg)
          brightness(94%) contrast(92%);
  width: 0.8rem;        
}

#right-channel{
  display:flex;
  gap: 1.2rem;
  padding-top: 1rem;
}

.join-button{
  width: 3rem;
  height: 1.4rem;
  justify-content: center;
}

.join-button span{
  color: #3E9CFF;
}

.subscribe-button{
  display: flex;
  width: 5rem;
  height: 1.4rem;
  justify-content: center;
  align-content: center;
  border-style: solid;
  border-radius: 0.2rem;
  border-width: 0.1rem;
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  border-color: #ff0000;
}

.subscribe-button span{
  margin-top: 0.1rem;
}

#video-description{
  padding-top: 1rem;
  padding-left: 5rem;
}

#expand-desc{
  margin: 1.4rem 0;
}

#description a{
  color: #3E9CFF;
  font-size: 0.9rem;
}

#sort{
  display:flex;
  gap: 4rem;
  margin-top: 1.5rem;
}

#new-comment{
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

#new-comment a img{
  width: 3rem;
}

#new-comment input{
  background-color: #181818;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5rem, solid, #181818;
  margin-bottom: 1rem;
  width: 100%;
  border-width: 1px;
  font-size: 1rem;
}

.comment-box{
  display: flex;
  margin: 1.5rem 0;
  gap: 1rem;
}

.comment-box a img{
  border-radius: 50%;
  width: 3rem;
}

.comment-time{
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #999999;
}

.comment-channel-name{
  font-weight: 500;
}

.comment{
  margin: 1rem 0;
}

.comment-like-dislike{
  display: flex;
  gap: 0.6rem;
}

.comment-like-dislike .rating img{
  width: 1rem;
}

.comment-like-dislike span{
  font-weight: 300;
  color:#999999;
  font-size: 0.9rem;
}

.reply{
  margin-left: 1.5rem;
}

.related-video-box{
  gap: 1rem;
  display: flex;
  margin-bottom: 0.6rem;
}

.related-video-title{
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.related-video-channel span, .related-video-data span{
  font-size: 0.8rem;
  color:#999999;
}

